body{
  background: #001E3C;
  color: white;
}
#logo-img {
  height: 50px;
  width: 50px;
  position: relative;
  left: 45.5%;
  top: 140px;
}
#app-name {
  position: relative;
  right: 3.5%;
  top: 140px;
  font-weight: 800;
}
.login-card {
    width: 380px;
    height: 430px;
    background: #001E3C;
    border: solid 1px #265D97;
    border-radius: 30px;
    position: relative;
    top: 150px;
    left: 39%;
}
h2 {
  text-align: center;
  font-weight: 200;
  letter-spacing: 2px;
}
.input-container-username {
  max-width: 95%;
  justify-content: center;
  position: relative;
  top: 25px;
  left: 80px;
}

.input-container-password {
  max-width: 95%;
  justify-content: center;
  position: relative;
  top: 55px;
  left: 80px;

}
#login-text {
  position: relative;
  left: 70px;
}


.button-container {
  display: flex;
  justify-content: center;
}
.button {
  background: #007FFF;
  color: white;
  width: 120px;
  letter-spacing: 2px;
  height: 35px;
  font-size: 16px;
  border: solid 1px #265D97;
  border-radius: 11px;
  position: relative;
  top: 100px;
}
.sign-up-button {
  display: flex;
  justify-content: center;
  position: relative;
  top: 120px;
}
.signup {
  border: none;
  background: none;
  color: #007FFF;
  font-style: italic;
  font-size: 16px;
}

/*Sign Up Form*/
.sign-up-form {
  width: 590px;
  height: 730px;
  background: #001E3C;
  border: solid 1px #265D97;
  border-radius: 30px;
  display: inline-block;
  position: relative;
  top: 100px;
  left: 32%;
}

.image-input-file {
  background: #007FFF;
  color: white;
  width: 120px;
  letter-spacing: 2px;
  height: 35px;
  font-size: 16px;
  border: solid 1px #265D97;
  border-radius: 11px;
  position: relative;
  top: 20px;
}

.input-container-first-name {
  max-width: 75%;
  justify-content: center;
  position: relative;
  top: -120px;
  margin: 0 auto;
}
.input-container-last-name {
  max-width: 75%;
  justify-content: center;
  position: relative;
  top: -100px;
  margin: 0 auto;
}

.input-container-email {
  max-width: 95%;
  justify-content: center;
  position: relative;
  top: -80px;
  left: 10%;
  margin: 0 auto;
}

.input-container-username-signup {
  max-width: 95%;
  justify-content: center;
  position: relative;
  top: -60px;
  left: 10%;
  margin: 0 auto;
}

.input-container-password-signup {
  max-width: 95%;
  justify-content: center;
  position: relative;
  top: -40px;
  left: 10%;
  margin: 0 auto;
}
.input-container-bio-signup {
  max-width: 95%;
  justify-content: center;
  position: relative;
  top: -20px;
  left: 10%;
  margin: 0 auto;
}

#firstName {
  background: #132F4C;
  border-radius: 11px;
  width: 60%;
  height: 35px;
  border: solid 1px #265D97;
  color: white;
  
}
#lastName {
  background: #132F4C;
  border-radius: 11px;
  width: 60%;
  height: 35px;
  border: solid 1px #265D97;
  color: white;
  
}

#email {
  background: #132F4C;
  border-radius: 11px;
  width: 60%;
  height: 35px;
  border: solid 1px #265D97;
  color: white;
  
}
#username {
  background: #132F4C;
  border-radius: 11px;
  width: 60%;
  height: 35px;
  border: solid 1px #265D97;
  color: white;
  
}

#password {
  background: #132F4C;
  border-radius: 11px;
  width: 60%;
  height: 35px;
  border: solid 1px #265D97;
  color: white;
  
}

#bio {
  background: #132F4C;
  border-radius: 11px;
  width: 60%;
  height: 35px;
  border: solid 1px #265D97;
  color: white;
  
}

.button-signup {
  background: #007FFF;
  color: white;
  width: 120px;
  letter-spacing: 2px;
  height: 35px;
  font-size: 16px;
  border: solid 1px #265D97;
  border-radius: 11px;
  position: relative;
  top: 10px;
}
.upload-image {
  height: 120px;
  width: 120px;
  position: relative;
  left: 440px;
  top: 40px;
  border: solid 1px #265D97;
  border-radius: 50%;
}

#upload-image {
  height: 120px;
  width: 120px;
  font-size: 10px;
  border-radius: 50%;
  background: #001E3C;
  color: white;
  border: solid 1px #265D97;
}
#input-file {
  position: relative;
  top: 50px;
  left: 77%;
}
#img-preview {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
.fileInput {
  cursor: pointer;
  color: #001E3C;
}


/*Profile*/


.profile-container {
  max-width: 1400px;
  height: 850px;
  border: solid 1px #265D97;
  background: #001E3C;
  border-radius: 30px;
  margin: 0 auto;
  position: relative;
  top: 20px;
}

.header {
  background: #132F4C;
  border: solid 1px #265D97;
  border-radius: 30px;
  width: 95%;
  height: 150px;
  position: relative;
  top: 5%;
  left: 2.3%;
  display: inline-block;
}
#search {
  background: #001E3C;
  border: solid 1px #265D97;
  width: 60%;
  height: 30px;
  border-radius: 12px;
  position: relative;
  left: 2%;
  color: white;
  bottom: 15px;
}
#search-button {
  background: #007FFF;
  color: white;
  width: 120px;
  height: 35px;
  font-size: 16px;
  border: solid 1px #265D97;
  border-radius: 11px;
  position: relative;
  bottom: 15px;
  left: 3%;
}
h1 {
  position: relative;
  left: 3%;
  font-weight: 300;
}
.my-favorites {
  background: #001E3C;
  color: white;
  width: 120px;
  height: 35px;
  font-size: 16px;
  border: solid 1px #265D97;
  border-radius: 11px;
  position: relative;
  bottom: 50px;
  left: 74%;
}

.logout {
  background: #001E3C;
  color: white;
  width: 120px;
  height: 35px;
  font-size: 16px;
  border: solid 1px #265D97;
  border-radius: 11px;
  position: relative;
  bottom: 55px;
  left: 89%;
}
.bio {
  width: 20%;
  height: 70%;
  background: #132F4C;
  border-radius: 30px;
  border: solid 1px #265D97;
  position: relative;
  bottom: 63%;
  left: 77%;
}
#profile-label {
  position: relative;
  top: 5%;
  left: 5%;
  font-weight: 800;
  color: #007FFF;
}
::placeholder {
  color: white;
  opacity: 1;
}
#input-bio {
  background: #132F4C;
  color: white;
  border: none;
  position: relative;
  left: 5%;
  top: 7%;
  height: 70px;
  width: 90%;
  resize: none;
}
#profile-info {
  position:relative;
  max-width: 95%;
  max-height: 50%;
  left: 5%;
  top: 4%;
}
#input-info {
  background: #132F4C;
  color: white;
  border: none;
  position: relative;
  left: 5%;
  top: 7%;
  height: 20px;
  width: 90%;
}

.repo-section {
  width: 73%;
  height: 70%;
  background: #132F4C;
  border-radius: 30px;
  border: solid 1px #265D97;
  position: relative;
  top: 7%;
  left: 2%;
}
.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #001E3C;
  margin: 0 auto;
}

label {
  position: relative;
}

/* .repo-titles {
  width: 95%;
  height: 100px;
  background: #001E3C;
  border: solid 1px #265D97;
  border-radius: 30px;
  position: relative;
  top: 4%;
  left: 2%;
} */

.view {
  background: #001E3C;
  color: white;
  width: 120px;
  height: 35px;
  font-size: 16px;
  border: solid 1px #265D97;
  border-radius: 11px;
  position: relative;
  bottom: 105px;
  left: 84%;
  z-index: 10;
}

.repo-des {
  position: relative;
  bottom: 25%;
  left: 5%;
  font-weight: 200;
}

.repo-title {
  text-align: left;
  position: relative;
  left: 5%;
  bottom: 12%;
  font-weight: 600;
  color: #007FFF;
}

#input-value {
  background: #132F4C;
  border-radius: 11px;
  width: 60%;
  height: 35px;
  border: solid 1px #265D97;
  color: white;
  position: relative;
  left:3%;
}

/*Repo.js*/

#repo-container {
  max-width: 1400px;
  height: 850px;
  border: solid 1px #265D97;
  background: #001E3C;
  border-radius: 30px;
  margin: 0 auto;
  position: relative;
  top: 20px;
}

.return-profile {
  background: #001E3C;
  color: white;
  width: 120px;
  height: 35px;
  font-size: 14px;
  border: solid 1px #265D97;
  border-radius: 11px;
  position: relative;
  top: 50px;
  left: 86%;
}

#mini-repo-container {
  width: 95%;
  height: 100px;
  background: #001E3C;
  border: solid 1px #265D97;
  border-radius: 30px;
  position: relative;
  top: 4%;
  left: 2%;
}
#repo-header {
  width: 45%;
  height: 65px;
  background: #132F4C;
  border: solid 1px #265D97;
  position: relative;
  left: 5%;
  border-radius: 20px 20px 0 0;
}
#file-name {
  width: 45%;
  height: 105px;
  background: #001E3C;
  border: solid 1px #265D97;
  position: relative;
  left: 5%;
}

.code {
  z-index: 10;
  
}

.add-file {
  background: #001E3C;
  color: white;
  width: 120px;
  height: 35px;
  font-size: 16px;
  border: solid 1px #265D97;
  border-radius: 11px;
  position: relative;
  top: 30px;
  left: 20%;
}
.live-demo {
  background: #001E3C;
  color: white;
  width: 120px;
  height: 35px;
  font-size: 16px;
  border: solid 1px #265D97;
  border-radius: 11px;
  position: relative;
  top: 30px;
  left: 15%;
}
#live-demo {
  width: 45%;
  height: 585px;
  background: #132F4C;
  border: solid 1px #265D97;
  border-radius: 20px;
  position: relative;
  left: 52%;
  bottom: 62%;
}

/*Files.js*/

.files-container {
  max-width: 1400px;
  height: 850px;
  border: solid 1px #265D97;
  background: #001E3C;
  border-radius: 30px;
  margin: 0 auto;
  position: relative;
  top: 20px;
}

.header-textarea {
  width: 75%;
  height: 65px;
  background: #132F4C;
  border: solid 1px #265D97;
  position: relative;
  top: 5%;
  border-radius: 20px 20px 0 0;
  margin: 0 auto;
}

#label-file {
  position: relative;
  height: 16px;
  top: 33%;
  left: 27.3%;
  font-size: 14px;
  border: #265D97 solid 1px;
  background: #001E3C;
}

#file-type {
  position: relative;
  top: 32%;
  left: 27.3%;
  background: #001E3C;
  color: white;
  border: #265D97 solid 1px;
  border-radius: 0 5px 5px 0;
}
.textarea {
  width: 74.7%;
  height: 75%;
  position: relative;
  top: 5%;
  left: 12.5%;
  background: #001E3C;
  color: white;
  border: #265D97 solid 1px;
}

.save-file {
  background: #001E3C;
  color: white;
  width: 120px;
  height: 35px;
  font-size: 16px;
  border: solid 1px #265D97;
  border-radius: 11px;
  position: relative;
  top: 10%;
}
#file-namer {
  background: #001E3C;
  border: solid 1px #265D97;
  width: 25%;
  height: 16px;
  border-radius: 5px 0 0 5px;
  position: relative;
  color: white;
  top: 32%;
  right: 15%;
}
